/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

$fontTitulos: 'Lato', sans-serif;
$fontTitulosSize: 24pt;
$fontTitulosText:  uppercase;
$fontTitulosSpan: 400;
$textColor: #000;
$textColorHover: #e63322;

h2 {
    font-family: $fontTitulos;
    font-size: $fontTitulosSize;
    text-transform: $fontTitulosText;
    color:$textColor
}

h2 {
    display: block;
    margin: 0 auto;
    text-align: center;

    span {
        font-weight: $fontTitulosSpan;
    }
}

a {
    text-decoration: none;
    color: $textColor;
}

li {
    list-style: none;
}

header, .slider, .benefits, .categorys, .detach, .colection, .best-seller, .plugin-insta, footer {
    width: 100%;
}

.top {
    width: 1200px;
    margin: 0 auto;

}

.logo {
    background-repeat: no-repeat;
    width: 280px;
    height: 60px;
    float: left;
    margin-top: 10px;
}

nav {
    
     a {
         color: $textColor;
         border: none!important;
     }
     a:hover {
         color: $textColorHover;
         border: none!important;
     }
}

.nav-tabs {
    border: none!important;
}

.search {
    display: flex;
    position: relative;
    left: 26%;
}

.top-social {
    position: relative;
    top: 8px;

    li {
        float: left;
    }
}

.user {
    position: relative;
    left:7%;
}

.slider {
    position: relative;
}

.benefits {
     background-color: #f1f1f1;
     display: flex;
}

.benefits-store {
    width: 1200px;
    height: auto;
    margin: 0 auto;

    li {
        width: 320px;
        float: left;
        margin: 30px;
    }

    strong {
        font-size: 20pt;
        text-transform: uppercase;
        text-align: center;
        display: block;
    }
}

.icon1 {
    background: url("../../img/icon.png") no-repeat;
    width: 45px;
    height: 65px;
    display: flex;
    margin: 0 auto;
}

.icon2 {
    background: url(../../img/icon.png) no-repeat;
    width: 63px;
    height: 65px;
    display: flex;
    margin: 0 auto;
    background-position-x: -78px;
}

.icon3 {
    background: url(../../img/icon.png) no-repeat;
    width: 63px;
    height: 65px;
    display: flex;
    margin: 0 auto;
    background-position-x: -166px;
}

.legenda {
    text-align: center;
    display: block;
    font-size: 18pt;
}

.category-list{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;

    li {
        float: left;
        margin: 80px 19px;

        img {
            border-radius: 50%;
        }

        span {
            display: block;
            text-align: center;
            font-size: 24px;
            line-height: 25px;
            margin-top: 20px;
        }
    }

    a {
        text-decoration: none;
        color: $textColor;
        display: block;
    }

    a:hover {
        color: $textColorHover;
    }

    a img:hover {
        -webkit-filter: #e63322;
        position: relative;
        z-index: -1; 
    }
}

.detach {
    overflow: hidden;
}

.carousel-product{
    width: 1200px;
    margin: 0 auto;

    li {
        float: left;
        width: 286px;
        margin-right: 6px;

        strong {
            display: block;
            text-align: center;
        }

        span {
            display: block;
            text-align: center;
        }

        button {
            display: flex;
            margin: 0 auto;
        }
    }

    li:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
  }

.colection {
    overflow: hidden;
    margin: 20px 0;
    background: url(../../img/bg-colection.png) no-repeat;
    width: 100%;
    height: auto;
    padding: 80px 0;
  }

.list-cat-colection {
    width: 1200px;
    margin: 0 auto;

      li {
        float: left;
        margin: 39px;
      }
      a {
          text-decoration: none;
          color: $textColor;
          font-size: 20pt;
          line-height: 25px;
      }

      a:hover {
          color: $textColorHover;
          text-decoration: underline;
          
      }
  }

.nav-tabs .nav-link {
     margin-bottom: 0!important; 
     background: 0 0!important; 
     border: 0!important; 
     border-top-left-radius: 0!important; 
     border-top-right-radius: 0!important;
  }


  /*Instagram*/

.plugin-insta {
      background: url("../../img/bg-instagram.jpg") no-repeat;
      width: 100%;
      height: auto;

      span {
          width: 1200px;
          display: block;
          margin: 0 auto;
          text-align: center;
          padding: 100px 0 ;
      }

      strong a {
        color: #fff;
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 23pt;
        margin: 10px;
        position: relative;
        top: 5px;
      }

      strong a:hover {
          color: $textColorHover;
      }
  }


  /*footer*/

footer {
      background-color: #222222;
      overflow: hidden;
      
      a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        line-height: 36px;
      }

      a:hover {
          color: $textColorHover;
      }
  }

.content-footer {
      width: 1200px;
      margin: 0 auto;
  }

.logo-footer {
    float: left;
    padding: 80px 80px 0px 0px;
  }

.links-footer {
    float: left;
    padding: 100px 10px 10px;
  }

.last-ul {
    margin-left: 275px;
  }

.rights {
      width: 1200px;
      height: auto;
      border-top: 1px solid #000;
      margin: 0 auto;
      overflow: hidden;

      span {
          color: #8a8a8a;
          font-size: 12pt;
          display: block;
          text-align: center;

          a {
            color: #8a8a8a;
            text-decoration: none;
          }
      }
  }

.tel {
      color: $textColorHover;
      font-size: 28pt;
  }

.sac {
      color: #fff;
      font-size: 18pt;
  }

.redes {
    float: right;
    padding: 10px 0 50px;
}

.facebook {
    background: url(../../img/facebook.png) no-repeat;
    width: 24px;
    height: 25px;
    float: left;
    margin-right: 15px;

    a {
        display: block;
        text-indent: -9999px;
    }
}

.instagram {
    background: url(../../img/instagram.png) no-repeat;
    width: 24px;
    height: 25px;
    float: left;

    a {
        display: block;
        text-indent: -9999px;
    }
}



  /*Carousel*/
.carousel-control-next, .carousel-control-prev {
      top:85px!important;
  }

.carousel-control-prev-icon {
    background-color: #f1f1f1;
    border-radius: 50%;
  }